{% extends 'diet_management/base.html' %}
{% load widget_tweaks %}
{% block content %}
    <h1>Calculate</h1>
    <form action="" method="POST">
        {% csrf_token %}
        <div class="form-group mb-3">
            {{ pfc_form.calory.label }}
            {{ pfc_form.calory | add_class:"form-control" }}
        </div>
        <div class="form-group mb-3">
            {{ pfc_form.protein.label }}
            {{ pfc_form.protein | add_class:"form-control" }}
        </div>
        <div class="form-group mb-3">
            {{ pfc_form.fat.label }}
            {{ pfc_form.fat | add_class:"form-control" }}
        </div>
        <div class="form-group mb-3">
            {{ pfc_form.carb.label }}
            {{ pfc_form.carb | add_class:"form-control" }}
        </div>
        <input class="btn btn-primary" type="submit" value="Register">
    </form>
{% endblock content %}