{% load django_bootstrap5 %}
{% load widget_tweaks %}
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <title></title>
</head>
<body>
    <h1>Welcome {{ UserID }}</h1>
    <a class="btn btn-primary" href="{% url 'week_with_meal' %}" role="button">Go to Week Calendar</a>
    <a class="btn btn-secondary" href="{% url 'Logout' %}" role="button">Logout</a>
</body>
</html>