{% extends 'diet_management/base.html' %}
{% load widget_tweaks %}
{% block content %}
    <!-- <p>{{ Message }}</p> -->
    <form action="" method="POST">
        {% csrf_token %}
        <div class="form-group mb-3">
            {{ form.title.label }}
            {{ form.title | add_class:"form-control" }}
        </div>
        
        <div class="form-group mb-3">
            {{ form.calory.label }}
            {{ form.calory | add_class:"form-control" }}
        </div>
        
        <div class="form-group mb-3">
            {{ form.protein.label }}
            {{ form.protein | add_class:"form-control" }}
        </div>
        
        <div class="form-group mb-3">
            {{ form.fat.label }}
            {{ form.fat | add_class:"form-control" }}
        </div>
        
        <div class="form-group mb-3">
            {{ form.carb.label }}
            {{ form.carb | add_class:"form-control" }}
        </div>
        
        <div class="form-group mb-3">
            {{ form.date.label }}
            {{ form.date }}
        </div>
        <a class="btn btn-outline-secondary" href="{% url 'week_with_meal' %}" role="button">back</a>
        <input class="btn btn-primary" type="submit" value="Submit">
    </form>
{% endblock content %}